

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.contact-container {
    width:100vw;
    height: calc(100vh + 50px);
    padding:50px 30px;
    
}

.contact_form_container {
    position:relative;
    max-width:400px;
    min-width:300px;
    padding:50px 30px 30px 30px;
    margin:auto;
    background-color:rgba(255, 255, 255, .4);
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, .2);
}

.contact_form_container h2 {
    color:#1b1b1b;
}


.register-container {
    display:grid;
    grid-template-columns:1fr 1fr;
    width:100vw;
    padding:50px 30px;
}

.register-container h4 {
    color:blue;
}

.register_form_container {
    position:relative;
    padding:50px 30px 30px 30px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, .2);
    background-color:rgb(1, 41, 34);
    color:white;
}

.two-column {
    display:grid;
    grid-template-columns: 1fr 1fr;
}


@media only screen and (max-width:900px) {
    .contact_form_container {
        border:none;
        padding-top:30px;
    }

    .two-column {
        grid-template-columns: 1fr;
    }
    .register-container {
        grid-template-columns: 1fr;
    }
}
