

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contact_form_container {
    max-width:600px;
    min-width:300px;
    margin:50px auto;
    padding:50px 30px 30px 30px;
    border:solid 1px grey;
}


@media only screen and (max-width:900px) {
    .contact_form_container {
        border:none;
        padding-top:30px;
    }
}