:root {
  --light:rgb(228, 222, 222);
  --light-green:rgb(212, 253, 65);
  --linear-green: linear-gradient(45deg, rgb(75, 128, 0), var(--light-green), yellow);
  --linear-grey: linear-gradient(45deg, rgb(46, 42, 58), rgb(48, 78, 122));
  --dark-green: rgb(1, 41, 34);
}

body {
    background-color:rgb(156, 159, 160);
}

a {
  text-decoration:none;
}

.main_header {
  width:100vw;
  height:100vh;
  background-image:linear-gradient(to bottom, rgb(140, 248, 78), green);
}

.main-title {
  position:absolute;
  top:15vh;
  left:50vw;
  transform: translateX(-50%);
  z-index: 1000;
  color:white;
  font-size:48px;
}

.slide_image1 {
  background-image:url(images/slide1.jpg);
  width:100vw;
  height: 50vh;
}

.car_darker {
  position:relative;
  width:100%;
  height: 100%;
  z-index: 555;
  background-image:linear-gradient(to bottom rgba(0,0,0,0.7) rgba(100, 100, 100 .7));
}

.footer {
    display:flex;
    padding:30px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100vw;
    color:var(--ligth);
    background-color:var(--dark-green);
} 

.card-grid {
    display:grid;
    position:relative;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding:30px 10px;
    color:#1b1b1b;
    justify-content: center;
    background-image:var(--linear-grey);
    height:230px;
}

a .mymedia .mymedia-body p {
    text-decoration: none;
}

.mymedia { 
    display:grid; 
    grid-template-rows:1fr auto;
    padding:5px;
    margin-top:20px;
}

.mymedia p {
  position:relative;
  font-size:13px;
  text-align: center;
  font-weight: 700;
  color:#1b1b1b;
  text-decoration:none;
}

.mymedia h5 {
  font-weight: 700;
  color:var(--light);
}

.mymedia img {
    position:relative;
    width:90%;
    margin:0 auto;
    opacity:.9;
    transition:all .5s ease-in-out;
    cursor:pointer;
} 

.mymedia img:hover {
  transform:scale(1.1);
  opacity: 1;
}

.mymedia-body {
    display:none;
    position:relative;
    flex-direction:column;
    align-items:center;
    padding:10px;
    width:100%;
    height: 90px;
    margin-top:10px;
    background-color: white;
    z-index:1100;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, .4);
    text-decoration:none;
}

.mymedia-body p {
  text-decoration:none;
}

.mymedia:hover > .mymedia-body {
  display:block;
}

.big-media {
  display:flex;
  flex-direction:row;
  padding:20px 20px;
  background-color: rgb(1, 41, 34);;
}

.big-media-image {
  position:relative;
  width:50%;
  height:auto;
  margin:auto;
}

.big-media-content {
  position:relative;
  flex:50%;
  justify-content: space-around;
  align-items:center;
  font-size:1.5rem;
  color:rgb(214, 208, 208);
  padding:70px;
  -webkit-animation: big-media-content-animation 1s forwards;
  animation: big-media-content-animation 1s forwards;
}
.big-media-content p {
  text-align: justify;
}

@keyframes big-media-content-animation {
  from {
    transform:translateX(-40px);
  }
  to {transform:translateX(0px)}
}

.quote {
  display:flex;
  flex-direction:column;
  background-image:linear-gradient(45deg, rgb(139, 127, 253), rgb(139, 230, 247));
  justify-content: center;
}

.contact-us-btn {
  display: flex;
  position:relative;
  padding:10px 20px;
  border-radius: 30px;
  width:160px;
  align-self: center;
  margin-top:40px;
  background-color:rgb(253, 34, 34);
  cursor:pointer;
  transition: all .5s ease-in-out;
}

.contact-us-btn a {
  position:relative;
  color:white;
  text-decoration:none;
  font-weight: 700;
  margin:auto;
}

.contact-us-btn:hover a {
  color:black;
}

.course-container {
  max-width:1000px;
  margin:auto;
  padding:0 40px;
  
}

.footer-grid { 
  position:relative;
  display: grid;
  grid-template-columns: 4fr 3fr 2fr 3fr;
  margin:auto;
  width:90vw;
  justify-content: center;
  grid-column-gap: 50px;
}
.course-image {
  display:flex;
  align-items: center;
  justify-content: center;
}

.social_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top:30px;
}
.logo_footer {
  display:flex;
  flex-direction:row;
  padding-bottom:20px;
}
.logo_footer img {
  width:47px;
  height:47px;
}
.footer_submit {
  background-color: transparent;
  border:none;
  padding:2px;
}
.logo_footer h6 {
  font-size:13px;
}
.footer-featured {
  position: relative;
  display:flex;
  flex-direction:column;
  padding:20px 20px;
}

.footer-featured p {
  text-align: justify;
}
/* .footer-featured:not(:last-child) {
  border-right:solid rgb(5, 71, 54) 1px;
} */
.footer-featured li {
  list-style-type:square;
}
.footer-featured a {
  color:white;
  text-decoration: none;
}

.all_courses_container {
  position:relative;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:50px;
  width:80%;
  margin:25px auto;
}

.course-main-card {
  position:relative;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  box-shadow:2px 2px 10px 2px rgba(0, 0, 0, .4);
}
.course-main-card .card-body {
  display:flex;
  align-items: center;
  background-color:var(--dark-green);
  color:var(--light);
  border-top:solid 1px var(--dark-green);
}
.course-image {
  margin-top:50px;
}


.course-container h1 {
  font-family: 'Chonburi', 'cursive';
  color:blue;
}
.course-container h2, h3, h4 {
  color:var(--dark-green);
  font-weight: bold;
}
.course-container section {
  text-align: justify;
}


.card:hover .course-main-card .card-body{
  background-color:white;
  color:var(--dark-green);
}

.all_courses_container a:hover {
  transition: .5s ease-in-out;
}
.all_courses_container a:hover {
  transform:scale(1.1);
  
}
.all_aosh_header {
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Chonburi', 'cursive';
  margin-top:20px;
}
.all_aosh_header img {
  width:20%;
  height:auto;
}
.card_body-img {
  position:relative;
  width:70px;
  height:auto;
}

/* .all_courses_container a {
  box-shodow:2px 2px 10px 5px rgba(0, 0, 0, .6);
} */

.course-grid, .job-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom:30px;
}

.footer-featured h4 {
  color:white;
}




@media only screen and (max-width:900px) {
    .card-grid {
        position:relative;
        grid-template-columns:1fr;
        padding-top:40px;
        grid-row-gap:10px;
        background-color: rgb(255, 252, 252);
        color:rgb(41, 40, 40);
        height: auto;
    }
    .mymedia {
       box-shadow:2px 2px 10px 3px rgba(0, 0, 0, .2);
       padding: 20px;
       grid-template-columns:1fr 3fr;
       height: 120px;
       background-color: rgba(255, 255, 255, 0.6);
       margin-top: 0;
       border-radius: 3px;
   }
   .mymedia img {
     width:90%;
     height:auto;
   }

   .mymedia-body {
     display:flex;
     background-color: rgba(0, 0, 0, 0);
     box-shadow: none;
   }
   .mymedia p, .mymedia h5 {
     color:rgb(29, 28, 28);
     text-decoration:none;
   }

    .main-title {
      font-size: 18px;
      top:1vh;
      text-align: center;
    }

    .big-media {
      flex-direction: column;
      border-bottom:solid rgb(155, 153, 153) 1px;
    }

    .big-media-image {
      width:100%;
      height: auto;
    }
    .big-media-content {
      font-size:1.5rem;
      padding:30px;

    }.course-container {
      width:100vw;
      padding:0 20px;
    }

    .footer-grid {
      grid-template-columns:1fr;
      grid-row-gap:20px;
    }
    .footer-featured {
      border-bottom: solid grey 1px;
    }

    .all_courses_container {
      grid-template-columns: 1fr;
      width:90%;
      margin:auto;
      grid-gap:20px;
    }
    .all_courses_container img {
      position:relative;
      width:100%;
      height:auto;
    }
    
}
