

body {
    background-color:rgb(156, 159, 160);
}

.main_header {
  width:100vw;
  height:100vh;
  background-image:linear-gradient(to bottom, rgb(140, 248, 78), green);
}

.carousel-darken {
  background-image:rgba(0,0,0,0.7);
}

.footer {
    display:flex;
    padding:30px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100vw;
    color:var(--ligth);
    background-color:var(--dark);
} 

.card-grid {
    display:grid;
    grid-template-columns:1fr 1fr;

    width:85vw;
    margin-top:100px;
}

.mymedia { 
    display:grid;
    grid-template-columns:150px auto;
    grid-row-gap:10px;

}

.media img {
    width:150px;
    height:auto;
} 
.mymedia-body {
    display:flex;
    flex-direction:column;
} 

@media only screen and (max-width:900px) {
    .card-grid { 
        grid-template-columns:auto;

        width:100vw;
        padding-top:0px
    }
}
