
:root{
    --dark:#302f2f;
    --ligth:rgb(223, 216, 216);
    --dark_green: rgb(1, 41, 34);
    --light_green:rgb(204, 250, 242);
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.navbar1 {
    display:flex;
    flex-direction:row;
    align-items: center;
    padding:10px 20px;
    background-color:var(--dark_green);
    font-family:'Poppins', sans-serif;
}

.menu1 {
    left:0;
}

.logo1 {
    display:flex;
    width:160px;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin:auto;
    padding-top:10px;
}

.logo1 img {
    width:auto;
    height:47px;
}
.logo_full {
    width:250px;
    display:flex;
    flex-direction: row;
    color:white;
}
.logo1 h5 {
    font-size:14px;
    font-weight: 700;
}
.nav1 {
    display:flex;
    position:relative;
    width:100%;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    right:0px;
    padding-top:15px;
}

.nav1 li {
    list-style: none;
}

.tab1 > a {
    text-transform: uppercase;
}

.tab1 > a:hover {
    color:white;
}

.nav1 a {
    display:flex;
    text-decoration:none;
    color:var(--ligth);
    padding:5px 0px 5px 15px;
    font-size:.9rem;
    font-weight: 700;
}

.arrowtab {
    position:relative;
    width:8px;
    height:8px;
    margin-left:8px;
    margin-top:5px;
    border-right: solid 4px var(--ligth);
    border-bottom: solid 4px var(--ligth);
    transform:rotate(45deg);
}

.has-menu {
    position:relative;
}

.smenu-bar {
    position:relative;
    width:100%;
    padding-left:20px;
    display:flex;
    flex-direction: row;
    align-items:center;
}

.submenu1 li a {
    position:relative;
    width:100%;
    padding:5px 10px 5px 5px;
    color:var(--dark);
    font-size:0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-right:20px;
    
}



.arrow1 {
    position:absolute;
    right:20px;
    width:8px;
    height:8px;
    transform:rotate(-45deg);
    margin-top:2px;
    border-right: solid 4px #494848;
    border-bottom: solid 4px #494848;
}

.submenu1 {
    position:absolute;
    background:var(--ligth);
    display: none;
    width:400px;
    padding: 20px 0px 20px 0px;
    transition:visibility .3ms ease-in-out;
    border:solid 1px grey;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 2px 2px 5px 2px rgba(1, 1, 1, .5);
    z-index:2000
}

.has-menu a:hover {
    color:var(--ligth);
}

.submenu1 li .smenu-bar:hover {
    background-color: #800000;
    color:var(--ligth);
}

.submenu1 .submenu1 li .smenu-bar:hover {
    background-color: #800000;
    color:var(--ligth);
}


.submenu1 .submenu1 {
    left:385px;
    top:0;
}

.submenu1 .submenu1 .submenu1 {
    transform:translateX(-800px);
}

.nav1 > a:hover {
    color:white;
}

.has-menu:hover > .submenu1 {
    display:block;
}

.submenu1:hover > .submenu1 {
    display:block;
}

@media only screen and (max-width:900px) {
    .navbar1 {
        flex-direction: column;
        padding:0 20px;
    }

    .logo1 {
        display:grid;
        grid-template-columns: calc(100vw - 30px) 30px;
        width:100%;
        padding:20px 20px 20px 40px;
        border-bottom: 1px solid rgb(26, 25, 25);
    }
    .logo_full {
        width:200px;
        margin-left: 60px;
        padding-top: 10px;
    }

    .logo1 img {
        width:40px;
        height:40px;
    }
    
    .nav1 {
        display:none;
        flex-direction: column;
        width:100vw;
        padding-left:0px;
    }

    .menu1 {
        display:relative;
        width:30px;
        height:3px;
        background-color: var(--ligth);
        margin-right:50px;
        cursor:pointer;
    }

    .menu1::after {
        content: "";
        position:absolute;
        width:30px;
        height:3px;
        background-color: var(--ligth);
        transform: translateY(7px);

    }

    .menu1::before {
        content: "";
        position:absolute;
        width:30px;
        height:3px;
        background-color: var(--ligth);
        transform: translateY(-7px);

    }


    .nav1 a {
        margin:10px 15px 10px 0;
    }

    .has-menu {
        padding-right: 0;
    }

    .submenu1 {
        position:relative;
        width:100vw;
        left:0;
        right:0;
        border:none;
        box-shadow: none;
        padding-left:0;
    }

    .submenu1 .submenu1 {
        left:20px;
        width:calc(100vw - 20px);
    }

    .smenu-bar {
        width:100vw;
        padding-right:20px;
    }

    .submenu1 .smenu-bar {
        width:calc(100vw - 20px);
        left:20px;
        padding-right:20;
        margin-right:0;
    }

    .submenu1 .submenu1 .smenu-bar {
        width:calc(100vw - 40px);
        padding-right:10px;
    }

    .submenu1 .submenu1 .submenu1{
        transform:translateX(0px);
        width:calc(100vw - 40px);
    }

    .submenu1 li a {
        padding:3px 5px;
    }

    .arrowtab {
        position:absolute;
        right:20px;
    }

    .smenu-bar:hover {
        background-color:var(--ligth);
        color:var(--dark);
    }

    .submenu1 li .smenu-bar:hover {
        background-color:var(--ligth);
        color:var(--dark);
    }
    
    .submenu1 .submenu1 li .smenu-bar:hover {
        background-color: var(--ligth);
        color:var(--dark);
    }

    .has-menu a:hover {
        color:var(--dark);
    }

    .tab1 > a:hover {
        color:white;
    }

}
