
:root{
    --dark:#302f2f;
    --ligth:rgb(223, 216, 216);
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.navbar1 {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding:20px 60px 0px 60px;
    background-color:var(--dark);
    font-family:'Poppins', sans-serif;
}

.menu1 {
    left:0;
}

.logo1 {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom:10px;
}

.logo1 h1 {
    color:var(--ligth);
    align-self: center;
}

.nav1 {
    display:flex;
    position:relative;
    width:100%;
    flex-direction: row;
    justify-content: center;
    right:0px;
}
.nav1 li {
    display:block;
    list-style: none;
}

.nav1 a {
    display:flex;
    text-decoration:none;
    color:var(--ligth);
    font-size:1rem;
    margin:0 12px;
    font-weight: 700;
}

.tab1 a {
    text-transform:uppercase;
}

.arrowtab {
    position:relative;
    width:9px;
    height:9px;
    margin-left:5px;
    margin-top:6px;
    border-right: solid 4px var(--ligth);
    border-bottom: solid 4px var(--ligth);
    transform:rotate(-45deg);
}

.has-menu {
    position:relative;
}

.smenu-bar {
    position:relative;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items:center;
}

.submenu1 li a {
    position:relative;
    width:100%;
    padding:5px 10px 5px 5px;
    color:var(--dark);
    font-size:0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-right:20px;
    
}



.arrow1 {
    position:absolute;
    right:20px;
    width:8px;
    height:8px;
    transform:rotate(-45deg);
    margin-top:2px;
    border-right: solid 4px #494848;
    border-bottom: solid 4px #494848;
}

.submenu1 {
    position:absolute;
    background:var(--ligth);
    display: none;
    width:400px;
    padding: 20px 0px;
    transition:visibility .3ms ease-in-out;
    border:solid 1px grey;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 2px 2px 5px 2px rgba(1, 1, 1, .5);
}


.submenu1 li .smenu-bar:hover {
    background-color: #494848;
    color:ver(--ligth);
}

.submenu1 .submenu1 li .smenu-bar:hover {
    background-color: #494848;
    color:ver(--ligth);
}


.submenu1 .submenu1 {
    left:385px;
    top:0;
}

.submenu1 .submenu1 .submenu1 {
    transform:translateX(-800px);
}

.nav1 a:hover {
    color:white;
}

.has-menu:hover > .submenu1 {
    display:block;
}

.submenu1:hover > .submenu1 {
    display:block;
}

@media only screen and (max-width:900px) {
    .navbar1 {
        flex-direction: column;
        padding-right:20px;
        padding-left:20px;
    }

    .logo1 {
        display:flex;
        flex-direction: row;
        justify-items:space-between;
        width:100%;
    }
    
    .nav1 {
        display:none;
        flex-direction: column;
        width:100vw;
        padding-left:0px;
    }

    .menu1 {
        display:absolute;
        width:30px;
        height:3px;
        background-color: var(--ligth);
        right:20px;
        cursor:pointer;
    }

    .menu1::after {
        content: "";
        position:absolute;
        width:30px;
        height:3px;
        background-color: var(--ligth);
        transform: translateY(7px);

    }

    .menu1::before {
        content: "";
        position:absolute;
        width:30px;
        height:3px;
        background-color: var(--ligth);
        transform: translateY(-7px);

    }


    .nav1 a {
        margin:10px 15px;
    }

    .submenu1 {
        position:relative;
        width:auto;
        left:10;
        border:none;
        padding-top:0;
        padding-bottom:0;
        padding-right:0px;
        box-shadow: none;
    }

    .submenu1 .submenu1 {
        left:20px;
        width:calc(100vw - 20px);
    }

    .submenu1 .smenu-bar {
        width:calc(100vw - 20px);
    }

    .submenu1 .submenu1 .submenu1{
        transform:translateX(0px);
        width:calc(100vw - 40px);
    }

    .submenu1 li a {
        padding:3px 5px;
    }

    .arrowtab {
        position:absolute;
        right:20px;
    }

}